* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Sofia Sans", sans-serif;
  color: #fff;
  background: linear-gradient(135deg, rgb(54, 141, 54), rgb(105, 105, 136));
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
