* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Sofia Sans", sans-serif;
  color: #fff;
  background: linear-gradient(135deg, rgb(54, 141, 54), rgb(105, 105, 136));
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}

.level {
  width: 80%;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

ul {
  list-style: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: rgb(255, 127, 127);
}
